* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-image: url("./assets/mulherdesign2.png");
  background-position: right bottom;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  width: 100vw;
  min-height: 100vh;
}

/* ------------------------------------------HEADER----------------------------------------- */

.topo {
  display: flex;
  justify-content: left;
  gap: 4rem;
  margin: 5rem;
  color: white;
  align-items: center;
  font-size: 25rem;
  height: 10rem;
  width: max-content;
}

.topo img {
  width: 9rem;
  height: 9rem;
}

.topo a {
  color: rgb(216, 216, 216);
  text-decoration: none;
  width: max-content;
  transition: 1s;
}

.topo a:hover {
  color: rgb(197, 102, 197);
}
/* ------------------------------------------HEADER----------------------------------------- */

/* media query ------------------------------------------------------------------------------- */
@media screen and (max-width: 320px) {
  * {
    font-size: 17%;
  }
  body {
    background-image: url("./assets/mulherdesign3.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 568px) {
  * {
    font-size: 18%;
  }

  body {
    background-image: url("./assets/mulherdesign3.png");
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  * {
    font-size: 18.5%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 22%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  * {
    font-size: 25%;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 27%;
  }

  .topo {
    font-size: 15rem;
  }
}

@media screen and (min-width: 1681px) {
  * {
    font-size: 30.5%;
  }
  .topo {
    font-size: 15rem;
  }
}
